header {
    width: 100%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title-pag {
            color: $lightColor;
            font-size: $font-dest;
            font-weight: $medium;
            margin-bottom: 10px;

            span {
                margin-right: 10px;
            }

            .big-icon {
                font-size: 20px;
            }
        }

        .title-perfil {
            color: $lightColor;
            font-size: $font-headline-min;
        }

        .info {
            color: $lightColor;
        }
    }

    .head-services {
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 220px;

        .logo-services {
            max-width: 220px;
            margin-bottom: 10px;
        }

        .info {
            color: $lightColor;
        }
    }

}

@media (min-width: 1026px) {
    header {
        nav {
            .title-pag {
                .big-icon {
                    font-size: 30px;
                }
            }
        }
    }
}