@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.customerRegister {
  background-color: #068086;
}

.btn-clientes {
  background-color: #068086;
  color: white;
}
.btn-clientes .link {
  color: white;
}

.freelancerRegister {
  background-color: #FFBF00;
}

.btn-freelancer {
  background-color: #FFBF00;
}
.btn-freelancer .link {
  color: black;
}

.manitas {
  background-color: #FFAA06;
}

.cuidador {
  background-color: #1C694D;
}

.profesor {
  background-color: #6750A4;
}

.tecnico {
  background-color: #1692C7;
}

.canguro {
  background-color: #89B729;
}

.auxiliar {
  background-color: #E33A58;
}

header {
  width: 100%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .title-pag {
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 10px;
}
header nav .title-pag span {
  margin-right: 10px;
}
header nav .title-pag .big-icon {
  font-size: 20px;
}
header nav .title-perfil {
  color: white;
  font-size: 1.5rem;
}
header nav .info {
  color: white;
}
header .head-services {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 220px;
}
header .head-services .logo-services {
  max-width: 220px;
  margin-bottom: 10px;
}
header .head-services .info {
  color: white;
}

@media (min-width: 1026px) {
  header nav .title-pag .big-icon {
    font-size: 30px;
  }
}
main {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
  min-height: 100vh;
  /* Section style */
  /* Text style */
  /* Button styles */
  /* Spaces styles */
}
main section {
  width: 100%;
  margin: 0 auto;
}
main .body {
  border-radius: 20px;
  background-color: white;
  z-index: 1;
  margin-top: -20px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
main p {
  font-size: 1.1rem;
}
main strong {
  font-weight: 700;
}
main .title {
  font-size: 2rem;
  font-weight: 700;
  margin: 20px 0;
}
main .subtitle {
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: 500;
  color: #068086;
}
main .text-small {
  font-size: 0.9rem;
  font-weight: 400;
  color: #777777;
}
main .dest-customer {
  color: #068086;
}
main .dest-freelancer {
  color: #FFBF00;
}
main .text-center {
  text-align: center;
}
main .subtitle-info {
  color: #068086;
  font-weight: 500;
  font-size: 1.35rem;
  margin: 10px 0 5px 0;
}
main .lineheight-min {
  line-height: 1.5rem;
}
main .bullet {
  list-style: circle;
  padding: 8px 30px;
}
main button {
  display: block;
  margin: 10px;
  padding: 10px 30px;
  font-size: 1rem;
  border: 0;
  border-radius: 10px;
}
main .margin-med {
  margin: 30px 0;
}
main .margin-small {
  margin: 10px 0;
}
main .block {
  display: block;
}
main .separador-large {
  border: 1px solid #068086;
  width: 100%;
  margin: 20px 0;
}
main .separador-small {
  border: 1px solid #FFBF00;
  width: 30%;
  margin: 20px 0;
  text-align: center;
}

@media (min-width: 1026px) {
  .info-page article {
    width: 100%;
    padding: 0 40px;
  }
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0;
  min-height: 100vh;
}
.home .logo {
  max-width: 250px;
  height: auto;
}
.home .tipo-user {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.home .tipo-user .text-home {
  font-size: 1.25rem;
  color: white;
  font-weight: 400;
  margin-bottom: 30px;
  position: relative;
  bottom: 0;
}
.home .tipo-user .block-login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.home .tipo-user .block-login button {
  min-width: 300px;
}

@media (min-width: 1026px) {
  .home .logo {
    max-width: 300px;
  }
  .home .tipo-user .block-login {
    flex-direction: row;
  }
}
.customerRegister {
  background-color: #068086;
  color: #068086;
}

.freelancerRegister {
  background-color: #FFBF00;
  color: #FFBF00;
}

.icono {
  max-width: 200px;
  border-radius: 100%;
  margin: 30px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
form fieldset {
  border: 0;
  margin: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
form .no-margin {
  margin: 0;
}
form label {
  text-align: left;
  margin-top: 10px;
}
form input,
form textarea {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #d3d3d3;
  margin: 10px 0;
}
form select {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  font-family: "Poppins", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  color: #777777;
  margin: 10px 0;
  padding: 10px 20px;
}
form input::-moz-placeholder, form textarea::-moz-placeholder {
  font-family: "Poppins", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  color: #777777;
}
form input::placeholder,
form textarea::placeholder {
  font-family: "Poppins", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  color: #777777;
}
form hr {
  border: 1px solid #FFBF00;
  width: 100%;
  margin: 20px 0;
}
form button {
  margin-top: 40px;
  width: 100%;
  font-family: "Poppins", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}
form .cancel-edit {
  border: 0;
  background-color: transparent;
}
form .cancel-edit a {
  color: rgb(212, 46, 17);
  text-decoration: underline;
}
form .p-top {
  padding-top: 0px;
}
form .m-bottom {
  margin-bottom: 20px;
}

.link-form {
  font-size: 0.9rem;
  margin: 0 5px;
}

@media (min-width: 1026px) {
  form fieldset {
    flex-direction: row;
    justify-content: space-between;
  }
  form .datos-prof {
    flex-direction: column;
  }
  form .field-login {
    max-width: 400px;
  }
  form .row {
    width: 100%;
  }
  form label {
    white-space: nowrap;
  }
  form button {
    max-width: 400px;
  }
  form .m-right {
    margin-right: 30px;
  }
  form .p-top {
    padding-top: 10px;
  }
  form .m-bottom {
    margin-bottom: 0px;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro .text-services {
  text-align: center;
  line-height: 1.4rem;
  margin: 10px 0;
}

.services {
  width: 100%;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.services .card {
  padding: 10px;
}
.services .card .icono-service {
  width: 80%;
  margin: 5px;
}

@media (min-width: 1026px) {
  .services {
    padding: 30px 70px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 40px;
  }
  .services .card .icono-service {
    width: 60%;
    margin: 20px;
  }
}
.box-list {
  width: 100%;
  padding: 10px;
}
.box-list .list-freelancers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 30px;
}

.free-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  min-width: 350px;
  max-width: 400px;
  min-height: 250px;
  border-radius: 20px;
  border: 1px solid #d3d3d3;
  padding: 20px 10px 10px 10px;
}
.free-card .datos-freelancer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.free-card .datos-freelancer .foto-perfil {
  max-width: 170px;
}
.free-card .datos-freelancer .text-card {
  text-align: left;
  min-width: 150px;
  max-width: 170px;
  padding-left: 10px;
  float: left;
}
.free-card .datos-freelancer .text-card .name-card {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.free-card .datos-freelancer .text-card .location-card {
  font-weight: 400;
}
.free-card .datos-freelancer .text-card .budget-card {
  font-size: 1.75rem;
  margin-top: 10px;
}
.free-card .datos-freelancer .manitas {
  color: #FFAA06;
}
.free-card .datos-freelancer .cuidador {
  color: #1C694D;
}
.free-card .datos-freelancer .profesor {
  color: #6750A4;
}
.free-card .datos-freelancer .tecnico {
  color: #1692C7;
}
.free-card .datos-freelancer .canguro {
  color: #89B729;
}
.free-card .datos-freelancer .auxiliar {
  color: #E33A58;
}

@media (min-width: 1026px) {
  .box-list {
    padding: 30px 50px;
  }
}
.free-detail {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  min-width: 350px;
  max-width: 800px;
  border-radius: 20px;
  padding: 10px;
}
.free-detail .datos-freelancer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.free-detail .datos-freelancer .foto-detail {
  max-width: 170px;
}
.free-detail .datos-freelancer .text-detail {
  text-align: left;
  min-width: 150px;
  padding-left: 20px;
}
.free-detail .datos-freelancer .text-detail .name-detail {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.free-detail .datos-freelancer .text-detail .location-detail {
  font-weight: 400;
}
.free-detail .datos-freelancer .text-detail .budget-detail {
  font-size: 1.75rem;
  margin-top: 10px;
}
.free-detail .datos-freelancer .text-detail .freelancer-dest {
  color: #FFBF00;
}
.free-detail .datos-prof {
  margin: 20px 10px;
  width: 100%;
}
.free-detail .datos-prof .info-title {
  font-size: 1.1rem;
  margin-top: 10px;
  font-weight: 500;
}
.free-detail .cv-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
.free-detail .cv-detail .icon-cv {
  font-size: 40px;
}
.free-detail .cv-detail .link-cv {
  color: #FFBF00;
}
.free-detail .cv-detail a:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
.free-detail .contact-detail {
  text-align: center;
  margin: 0 auto;
}
.free-detail .contact-detail button {
  margin-top: 40px;
  min-width: 350px;
  color: white;
}
.free-detail .contact-detail button a {
  color: white;
}
.free-detail .edit-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 20px;
}
.free-detail .edit-detail .edit-btn {
  margin: 10px;
  min-width: 350px;
  color: white;
  background-color: #FFBF00;
}
.free-detail .edit-detail .edit-btn a {
  color: white;
}
.free-detail .edit-detail .delete-btn {
  color: rgb(212, 46, 17);
  border: 0;
  background-color: transparent;
}
.free-detail .edit-detail .delete-btn span {
  text-decoration: underline;
}
.free-detail .manitas {
  color: #FFAA06;
}
.free-detail .cuidador {
  color: #1C694D;
}
.free-detail .profesor {
  color: #6750A4;
}
.free-detail .tecnico {
  color: #1692C7;
}
.free-detail .canguro {
  color: #89B729;
}
.free-detail .auxiliar {
  color: #E33A58;
}

@media (min-width: 1026px) {
  .free-detail .datos-freelancer .foto-detail {
    max-width: 450px;
    width: 100%;
  }
  .free-detail .datos-freelancer .text-detail {
    min-width: 300px;
    padding-left: 20px;
  }
  .free-detail .datos-freelancer .text-detail .name-detail {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.75rem;
  }
  .free-detail .datos-freelancer .text-detail .location-detail {
    font-weight: 400;
  }
  .free-detail .datos-freelancer .text-detail .budget-detail {
    font-size: 1.75rem;
    margin-top: 10px;
  }
  .free-detail .edit-detail {
    flex-direction: row;
    justify-content: space-around;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}/*# sourceMappingURL=styles.css.map */