$primaryColor: #068086;
$secondaryColor: #FFBF00;
$lightColor: white;
$darkColor: black;
$greyColor: #d3d3d3;
$greyTextColor: #777777;

$manitasColor: #FFAA06;
$cuidadorColor: #1C694D;
$profesorColor: #6750A4;
$tecnicoColor: #1692C7;
$canguroColor: #89B729;
$auxiliarColor: #E33A58;

$max-content: 1280px;

$font-type: 'Poppins', Helvetica, 'Segoe UI', Tahoma, Arial, sans-serif;

$font-body: 1.1rem;
$font-dest: 1.25rem;
$font-headline: 2rem;
$font-headline-min: 1.5rem;
$font-btn: 1rem;
$font-small: 0.9rem;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;